<div class="card">
  <h2 class="text-center card-header">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="fields form-group card-body">
      <% f.label :email %><br />
      <%= f.email_field :email, class:"form-control", placeholder:"Email", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="fields form-group card-body">
      <% f.label :password %><br />
      <%= f.password_field :password, class:"form-control", placeholder:"Password", autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="fields form-group form-check card-body text-center">
        <%= f.check_box :remember_me, class:"form-check-input" %>
        <%= f.label :remember_me, class:"form-check-label" %>
      </div>
    <% end %>

    <div class="actions text-center">
      <%= f.submit "Log in", class:"btn btn-success" %>
    </div>
    <br/>
  <% end %>
  
</div>
  <%= render "devise/shared/links" %>
